<!doctype html>
<html>
<head>
  <title>Apply to Ubermelon</title>
  <link href="../static/css/styles.css" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet'>
  
</head>
<body>
	<nav>
		<ul>
			<li id="left"><a href="/">Ubermelon Careers</a></li>
			<li id="right"><a href="/application-form"</a>Apply Now</a></li>
		</ul>
	</nav>
	<h1>Welcome to Ubermelon!</h1>
	<h2>Click <a href="/application-form"><span class="green">HERE</span></a> to apply for one of our open positions.</h2>
	<br>
	<img src="../static/img/uber.png" height="200px" alt="I'm an ubermelon">



</body>
</html>