<!doctype html>
<html>
<head>
  <title>Thanks for applying.</title>
  <link href="../static/css/styles.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet'>
</head>
<body>
	<nav>
		<ul>
			<li id="left"><a href="/">Ubermelon Careers</a></li>
			<li id="right"><a href="/application-form"</a>Apply Now</a></li>
		</ul>
	</nav>
	<h1>Ubermelon thanks you!</h1>
	<p> Thank you <span id="boldlast">{{ firstname }} {{ lastname }}</span></b> for applying to be a <span id="boldlast">{{ job }}</span>. <br>Your minimum salary requirement is <span id="boldlast">{{ salary }}</span> dollars.</p>
	<br>
	<img src="../static/img/uber.png" height="200px" alt="I'm an ubermelon">



</body>
</html>